*{
    margin: 0;
    padding: 0;
    border: none;
}

.textField{
    background-color: transparent;
    border-bottom: .5px solid black;
    padding-left: .5rem;
    width: 80%;
}


.flex{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.mainContiner{
    background-image: url(../images/app-bg.jpg);
    min-height: 100vh;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    padding: 1rem;
}

.childContainer{
    flex-direction: column;
    padding-top: 2rem;
    justify-content: center;
}

.addItems{
    width: 30%;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px;
    padding: 1rem;
    border-radius: 20px;
    flex-direction: column;
    gap: 2rem;
}
.inputTextWrapper{
    padding-top: 1rem;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.buttonWrapper{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.buttonWrapper button{
    padding: .5rem 1rem ;
    border-radius: 10px;
    background-color: rgb(206, 209, 37);
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}

.showItems{
    flex-wrap: wrap;
    gap: 1rem;
}
.eachItem{
    position: relative;
    background-color:rebeccapurple;
    border-radius:20px;
    padding: 1rem;
}

.deleteItem{
position: absolute;
right:15px;
top: 7px;
}